@import "variables";
.header-wrapper {
  height: 90px;
}
.safe-area {
  position: fixed;
  width: 100%;
  height: env(safe-area-inset-top);
  top: 0;
  left: 0;
  z-index: 10;
  background: $main-bg;
}
header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 90px;
  top: env(safe-area-inset-top);
  left: 0;
  box-shadow: $card-box-shadow;
  background: $main-bg;

  & .header-lg {
    padding: 10px 30px;
    & .logo {
      width: 100px;

      & img{
        width: 100%
      }
    }
  }

  & .hamburger-menu-button {
    & i {
      cursor: pointer;
      font-size: 26px;
      margin: 0 10px;
      color: $primary-text-3;
    }
  }
}
