<div class="navigation-bar">
  <nav class="d-md-block d-none">
    <div class="d-flex justify-content-start align-items-center">
      <div class="d-inline-block">
        <ul class="d-flex align-items-center">
          <li class="nav-bar-item">
            <a routerLink="/" routerLinkActive="active" class="nav-bar-link">Home</a>
          </li>
          <li class="nav-bar-item">
            <a routerLink="/shop" routerLinkActive="active" class="nav-bar-link">
              Shop
            </a>
          </li>
          <li class="nav-bar-item">
            <a routerLink="/blog" routerLinkActive="active" class="nav-bar-link">
              Blog
            </a>
          </li>
          <li class="nav-bar-item">
            <a routerLink="/contact" routerLinkActive="active" class="nav-bar-link">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
