.reviews-section {
  width: 100vw;
  background: #f4f4f4;
  padding: 60px 0;
  margin-top: 24px;
  margin-bottom: 24px;
  & .reviews-container {
    background: white;
    padding: 16px;
    & .reviews-header-container {
      border-bottom: 1px solid rgba(33, 37, 41, 0.24);
      text-align: center;
      & .reviews-content {
        text-align: left;
        max-height: 500px;
        overflow: scroll;
      }
    }
  }
}
