@import "variables";
@import "text";

.categories-container {
  overflow-y: scroll;

  & .new-arrival-category-tabs {
    width: fit-content;
  }

  & .category-tab {
    text-wrap: nowrap;

    &.active {
      color: $primary!important;
    }
  }
}
