@import "variables";

.btn {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;

  &.btn-primary {
    background: $primary;
    border-color: $primary;
  }
}

.form-control:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.25rem rgba(17, 21, 42, 0.25);
}

.form-check-input:checked {
  background-color: $primary!important;
  border-color: $primary!important;
  box-shadow: 0 0 0 0.25rem $primary-light;
}
