@import "variables";
h1 {
  font-size: 42px;
}
h2 {
  font-size: 34px;
}

a {
  color: $primary-text-3;
  text-decoration: none;
  padding: 10px;
  transition: all ease .3s;
  cursor: pointer;

  &.active, &:hover {
    color: $primary;
  }
}

.header-section {
  background: #f4f4f4;
  padding: 35px 0;
}
