$main-bg: #fff;
$primary: #11152a;
$primary-text-3: #555;
$primary-text-1: #222;
$muted-text: #999;
$card-box-shadow: 0px 2px 1.9px 0.1px rgb(0 0 0 / 5%);
$hr-color: #efefef;
$light-gray: #f8f8f8;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Nunito-VariableFont_wght.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Montserratarm-Regular.otf");
}
