<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="footer-description-section">
          <img class="p-2 float-start" src="/assets/logo.png" width="127px">
          <div *ngIf="loaded" class="footer-section-text">
            {{ seoData | propertyTranslator: 'description' | async }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3 text-center text-md-start">
        <div class="footer-description-section">
          <h4 class="mb-4">Contact Us</h4>
          <ul class="contact-us-list">
            <li class="mb-3">
              <i class="bi bi-geo-alt me-3"></i>
              <span class="footer-section-text">4710-4890 Breckinridge USA</span>
            </li>
            <li class="mb-3">
              <i class="bi bi-envelope-paper me-3"></i>
              <span class="footer-section-text">support&#64;galad.am</span>
            </li>
            <li>
              <i class="bi bi-telephone me-3"></i>
              <span class="footer-section-text">(+374) 77-45-47-44</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3 text-center text-md-start">
        <div class="footer-description-section">
          <h4 class="mb-4">Information</h4>
          <ul class="information-links-list">
            <li class="mb-3">
              <a href="">About Us</a>
            </li>
            <li class="mb-3">
              <a href="">Contact</a>
            </li>
            <li>
              <a href="">Frequently Questions</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-3 text-center text-md-start">
        <div class="footer-description-section">
          <h4 class="mb-4">Follow Us</h4>
          <div class="d-flex justify-content-center justify-content-md-start align-items-center">
            <a href="https://www.facebook.com/profile.php?id=100088594657328" class="social-icons me-2" target="_blank">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/galad_am_" class="social-icons ms-2" target="_blank">
              <i class="bi bi-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
