<div class="d-flex justify-content-around align-items-center action-buttons">
  <div class="d-none d-md-block">
    <i class="bi bi-search"></i>
  </div>
  <div *ngIf="!(isLoggedIn$ | async)" [routerLink]="['/', translateService.currentLang, 'auth', 'sign-in']">
    <i class="bi bi-person-circle"></i>
  </div>
  <div>
    <i [routerLink]="[translateService.currentLang, 'favorites']" class="bi bi-heart position-relative">
      <app-badge position="absolute" top="-15%" left="70%">
        {{ favoritesCount$ | async }}
      </app-badge>
    </i>
  </div>
  <div>
    <i class="bi bi-bag position-relative">
      <app-badge position="absolute" top="-15%" left="60%">
        {{ productsCount$ | async }}
      </app-badge>
    </i>
  </div>
  <div>
    <app-language-selector></app-language-selector>
  </div>
</div>
