.gift-container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #6190e8;
  background: -webkit-linear-gradient(to right, #6190e8, #a7bfe8);
  background: linear-gradient(to right, #6190e8, #a7bfe8);
}
