<div class="vertical-product-card">
  <div class="image position-relative">
    <img [src]="product.imageUrl">
    <div *ngTemplateOutlet="productActions">
    </div>
  </div>
  <div class="product-types d-flex justify-content-center align-items-center">
    <span *ngFor="let type of product.types" class="d-inline-block m-1 type">{{ type }}</span>
  </div>
  <div class="product-name text-center">
    <p class="p-0 m-0">{{ product.name }}</p>
  </div>
  <div class="product-price d-flex justify-content-center align-items-center">
    <div
      [class.text-muted]="product.hasSale"
      [class.text-decoration-line-through]="product.hasSale"
      class="product-price has-sale m-1">
      ${{ product.price }}
    </div>
    <div *ngIf="product.hasSale" class="product-price has-sale m-1">${{ product.newPrice }}</div>
  </div>
</div>

<ng-template #productActions>
  <div class="action-button icon">
    <i class="bi bi-heart"></i>
  </div>
  <div class="action-button icon">
    <i class="bi bi-eye"></i>
  </div>
  <div class="action-button-container">
    <button class="btn action-button float-button">Add to Cart</button>
  </div>
  <div *ngIf="product.hasSale" class="sale-label">
    Sale!
  </div>
</ng-template>
