<div class="banner-container">
  <div
    *ngFor="let banner of banners; let index = index"
    [class.active]="index === activeBannerIndex"
    class="banner-item">
    <div
      [class.active]="index === activeBannerIndex"
      [style.background-image]="'url(' + bannerImagePath + ')'"
      [class.banner-position-left]="banner.text_position === bannerTextPosition.Left"
      [class.banner-position-right]="banner.text_position === bannerTextPosition.Right"
      class="banner-item-image">
      <div class="container">
        <div class="row">
          <div [class.offset-7]="banner.text_position === bannerTextPosition.Right" class="col-5 mt-lg-5 mt-4">
            <h1 class="banner-title">{{ banner | propertyTranslator: "title" | async }}</h1>
            <h4 class="banner-subtitle">{{ banner | propertyTranslator:  "description" | async }}</h4>
            <a
              [href]="'/' + translateService.currentLang + banner.button_link"
              [target]="banner.url_open_handle"
              class="banner-action-button btn btn-primary"
            >
                {{ banner | propertyTranslator:  "button_text" | async }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div (click)="bannerToLeft()" class="banner-arrow left">
    <i class="bi bi-chevron-left"></i>
  </div>
  <div (click)="bannerToRight()" class="banner-arrow right">
    <i class="bi bi-chevron-right"></i>
  </div>
</div>
