<div class="small-item-container d-flex justify-content-start align-items-start">
  <img class="product-image" [publicSrc]="mainPhoto.link">
  <div>
    <div class="product-name">
      <p class="p-0 m-0">{{ product | propertyTranslator: "name" | async }}</p>
    </div>
    <div class="product-price d-flex justify-content-start align-items-center">
      <div
        [class.text-muted]="product.new_price"
        [class.text-decoration-line-through]="product.new_price"
        class="product-price has-sale m-1">
        ${{ product.price }}
      </div>
      <div *ngIf="product.new_price" class="product-price has-sale m-1">${{ product.new_price }}</div>
    </div>
  </div>
</div>
