<div [routerLink]="allowPreview ? ['/', translateService.currentLang, 'product', product.id] : null"
     [class.not-animate]="preventAnimation"
     class="small-item-container d-flex justify-content-start align-items-start cursor-pointer position-relative">
  <img class="product-image" [publicSrc]="product.mainAsset">
  <div>
    <div class="product-name">
      <p class="p-0 m-0">{{ product | propertyTranslator: "name" | async }}  <span class="product-serial-number">{{ product.serialNumber }}</span></p>
    </div>
    <div *ngIf="showPrice" class="product-price d-flex justify-content-start align-items-center">
      <div
        [class.text-muted]="product.new_price"
        [class.text-decoration-line-through]="product.new_price"
        class="product-price has-sale m-1">
        ${{ product.price | customPrice }}
      </div>
      <div *ngIf="product.new_price" class="product-price has-sale m-1">${{ product.new_price | customPrice }}</div>
    </div>
    <div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
