<div class="container mb-5 mt-5">
  <div class="row product-placeholder">
    <div class="col-12 col-md-6">
      <div class="product-image background-loader"></div>
      <div class="product-image-slider-content mt-3 d-flex justify-content-between align-items-center">
        <div class="product-image-slider-item background-loader"></div>
        <div class="product-image-slider-item background-loader"></div>
        <div class="product-image-slider-item background-loader"></div>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-3 mt-md-0">
      <div class="product-title background-loader"></div>
      <div class="product-details mt-4">
        <div class="detail-row background-loader"></div>
        <div class="detail-row background-loader"></div>
        <div class="detail-row background-loader"></div>
        <div class="detail-row background-loader"></div>
        <div class="detail-row background-loader"></div>
        <div class="detail-row background-loader"></div>
      </div>
      <div class="product-buttons d-flex justify-content-start align-items-center">
        <div class="product-button me-3 background-loader"></div>
        <div class="product-button background-loader"></div>
      </div>
    </div>
  </div>
</div>

