<div *ngIf="currentLanguage" class="language-selector-container position-relative">
  <div (click)="toggleListVisibility($event)" class="current-language">
    <img [src]="'/assets/language-icons/' + currentLanguage + '.png'">
  </div>
  <div [class.shown]="listVisible" class="language-switch-list">
    <div appOutsideClick (click)="switchLanguage(language)" (outsideClick)="closeList()" *ngFor="let language of availableLanguages">
      <img [src]="'/assets/language-icons/' + language + '.png'">
    </div>
  </div>
</div>
