@import "variables";

.language-selector-container {
  height: 32px;
  width: 32px;

  & .current-language {
    cursor: pointer;
  }

  & .language-switch-list {
    position: absolute;
    display: none;
    left: -5px;
    top: 110%;
    background: $main-bg;
    z-index: 50;
    padding: 5px;
    border-radius: 5px;
    box-shadow: $card-box-shadow;
    &.shown {
      display: block;
    }
    & img {
      width: 32px;
    }
  }
  & img {
    width: 100%;
  }
}
